body {
	background-image: url('WTbg.jpg');
}

#waiting {
	margin: 0 auto;
	text-align: center;
}

#boite {
	background: white;
	text-align: left;
	max-width: 40em;
	margin:  auto;
	margin-top: 1em;
	padding: 1em;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 20px #555;
}

/*
#description {
	font-style: bold;
}
*/

#description:first-letter {
    text-transform:capitalize;
}

#defs {
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    display: block;
}

#answer {
    display: block;
    border: 1px solid #AAA;
    /*max-width: 40em;*/
    text-align: center;
    padding: 1em;
    /*font-size: 1.5em;*/
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

#answerbox, #solution {
    display: block;
    border: 1px solid #AAA;
    max-width: 40em;
    text-align: center;
    padding: 1em;
    /*font-size: 2em;*/
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.bouton {
	display: inline-block;
	border: 1px solid #AAF;
	padding: 0.5em;
	background: #DDF;
	color: #00A;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-bottom: 0.5em;
	cursor: pointer;
}

.clicked_button {
	color: gray;
	background: #EEE;
	border: 1px solid #AAA;
	cursor: default;
}

#buttons {
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: auto;
    text-align: center;
}

#qresults {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 40em;
    font-size: 0.8em;
}

