/* Default search style */
#anag_search form {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 15px;
	vertical-align: top;
}
#anag_search #results {
	display: inline-block;
	vertical-align: top;
}

#anag_search #string {
	font-size: 1.5em;
	font-family: monospace;
}

#anag_search .ulang, .utype {
	font-style: italic;
}

#anag_search #advanced_button {
	border: 1px solid #DDD;
	padding: 3px;
	cursor: pointer; cursor: hand;
}

#anag_search .arrow {
	color: gray;
}


/* Result list table */
#anag_search table {
	border-collapse: collapse;
}

#anag_search tr:nth-child(odd) {
	background: aliceblue;
}

#anag_search th {
	background: #DDF;
	border-left: 1px solid #AAA;
	border-top: 1px solid #DDD;
}

#anag_search td, th {
	padding: 5px;
	text-align: center;
	border-left: 1px solid #DDD;
}

#anag_search th:first-child {
	border-left: 1px solid #DDD;
}
#anag_search td:last-child {
	border-right: 1px solid #DDD;
}
#anag_search tr:last-child td {
	border-bottom: 1px solid #DDD;
}

#anag_search .table {
	display: table;
}

#anag_search .row {
	display: table-row;
}

#anag_search .cell {
	display: table-cell;
}
